### Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

### Flutter / Dart
.dart_tool/
/.packages
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

### macOS
.DS_Store

### IDEs
.vscode/
/.idea/
*.iml

### Logs
*.log

### Optional: ignore compiled/python envs
venv/
env/
